body {
    background-image: url(images/cinema2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    background-position: center top;
    margin-top: 0px;
  }
#my-form-create{
    display: inline;    
}
#my-form-getAll{
    float: left;
    display: inline;    
}
#my-form-getSingle{
    float: left;
    display: inline;    
}
#my-form-delete{
    float: left;
    display: inline;    
}
#my-form-update{
    float: left;
    display: inline;    
}
#allMoviesTable{
    margin-top: 100px;
    overflow: scroll;
}
#myCarousel {
    width:70%;
    height: 50%;
    margin:auto;
}
.carousel-item {
    height:21rem;
    background:#464646;
    color: white;
    position: relative;
}
.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}
#response {
    margin-left: auto;
    margin-right: auto;
}
.tableImage {
    width: 50px;
}