body {
    background-image: url(images/cinema2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    background-position: center top;
    margin-top: 0px;
  }
#my-form-create{
    display: inline;    
}
#my-form-getAll{
    float: left;
    display: inline;    
}
#my-form-getSingle{
    float: left;
    display: inline;    
}
#my-form-delete{
    float: left;
    display: inline;    
}
#my-form-update{
    float: left;
    display: inline;    
}
#allMoviesTable{
    margin-top: 100px;
    width: 95%;
    overflow: scroll;
}

#allMoviesTable td{
    width: 125px;
    text-align: center;
    padding: 5px;
}
#myCarousel {
    width:70%;
    height: 50%;
    margin:auto;
    background-color: transparent;
}
.carousel-item {
    height:21rem;
    color: white;
    position: relative;
}
.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 25px;
}
#response {
    margin-left: auto;
    margin-right: auto;
}
.tableResponse {
    margin-left: auto;
    margin-right: auto;
}
.tableImage {
    width: 50px;
}

.movie-form{
    background: #fff;
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: -50%;
    width: 80%;
}
.movie-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.movie-form form{
    padding: 14%;
}
.movie-form form .row{
    margin-bottom: -7%;
}
.movie-form h4{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.movie-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}